@use "sass:map";

/* ============================================================
   GLOBAL CONFIG
   ============================================================ */

$global-config: (
  "fonts": (
    "tanker": (
      "Tanker",
      serif,
    ),
  ),

  "retro": (
    "border-thin": 0.1875rem solid #16151d,
    "border-thick": 0.3125rem solid #16151d,
    "border-radius-lg": 1.5rem,
    "border-radius-sm": 0.75rem,
    "shadow-lg": 0rem 0.5rem 0rem #16151d,
    "shadow-sm": 0rem 0.25rem 0rem #16151d,
    "shadow-active": 0rem 0.6rem 0rem #16151d,
  ),

  "colors": (
    "bg-app-light": #9539e5,
    "bg-app-dark": #6c1aaa,
    "bg-cream": #f1f1f1,
    "text-dark": #16151d,
    "text-light": #f1f1f1,
    "accent": #fd6687,
    "light-gray": #ffffff,
  ),

  "button-ui": (
    "primary": #fc1c50,
    "secondary": #ffce67,
    "text": #f1f1f1,
    "hover-bg": #fc8844,
    "hover-text": #ffffff,
    "disabled-bg": #582cd1,
    "disabled-text": #a0a0a0,
  ),
  "spacing": (
    "xs": 0.25rem,
    "s": 0.5rem,
    "m": 1rem,
    "l": 1.5rem,
    "xl": 2rem,
    "2xl": 3rem,
    "3xl": 4rem,
    "4xl": 5rem,
  ),
  "font-size": (
    "xs": 0.75rem,
    "sm": 0.875rem,
    "md": 1rem,
    "lg": 1.25rem,
    "xl": 1.5rem,
    "2xl": 2rem,
    "3xl": 3rem,
    "4xl": 4rem,
    "5xl": 5rem,
  ),
  "font-weight": (
    "300": 300,
    "400": 400,
    "500": 500,
    "600": 600,
    "700": 700,
    "800": 800,
  ),
  "letter-spacing": (
    "tight": -0.03em,
    "normal": 0em,
    "wide": 0.03em,
  ),
);

$content-width: 87.5rem;

/* ============================================================
   HELPER FUNCTIONS FOR QUICK ACCESS
   ============================================================ */

@function config($group, $key) {
  @return map.get(map.get($global-config, $group), $key);
}

@function theme-val($theme, $key) {
  @return map.get(map.get($themes, $theme), $key);
}

/* ============================================================
    QUICK ACCESS FOR STATIC VARIABLES
   ============================================================ */

$font-tanker: config("fonts", "tanker");

$retro-border-thin: config("retro", "border-thin");
$retro-border-thick: config("retro", "border-thick");
$retro-radius-lg: config("retro", "border-radius-lg");
$retro-radius-sm: config("retro", "border-radius-sm");
$retro-shadow-lg: config("retro", "shadow-lg");
$retro-shadow-sm: config("retro", "shadow-sm");
$retro-shadow-active: config("retro", "shadow-active");

$color-bg-app-light: config("colors", "bg-app-light");
$color-bg-app-dark: config("colors", "bg-app-dark");
$color-bg-cream: config("colors", "bg-cream");

$color-text-dark: config("colors", "text-dark");
$color-text-light: config("colors", "text-light");
$color-accent: config("colors", "accent");
$color-light-gray: config("colors", "light-gray");

$btn-ui-primary: config("button-ui", "primary");
$btn-ui-secondary: config("button-ui", "secondary");
$btn-ui-text: config("button-ui", "text");
$btn-ui-hover-bg: config("button-ui", "hover-bg");
$btn-ui-hover-text: config("button-ui", "hover-text");
$btn-ui-disabled-bg: config("button-ui", "disabled-bg");
$btn-ui-disabled-text: config("button-ui", "disabled-text");

$spacing-xs: config("spacing", "xs");
$spacing-s: config("spacing", "s");
$spacing-m: config("spacing", "m");
$spacing-l: config("spacing", "l");
$spacing-xl: config("spacing", "xl");
$spacing-2xl: config("spacing", "2xl");
$spacing-3xl: config("spacing", "3xl");
$spacing-4xl: config("spacing", "4xl");

$font-size-xs: config("font-size", "xs");
$font-size-sm: config("font-size", "sm");
$font-size-md: config("font-size", "md");
$font-size-lg: config("font-size", "lg");
$font-size-xl: config("font-size", "xl");
$font-size-2xl: config("font-size", "2xl");
$font-size-3xl: config("font-size", "3xl");
$font-size-4xl: config("font-size", "4xl");
$font-size-5xl: config("font-size", "5xl");

$font-weight-300: config("font-weight", "300");
$font-weight-400: config("font-weight", "400");
$font-weight-500: config("font-weight", "500");
$font-weight-600: config("font-weight", "600");
$font-weight-700: config("font-weight", "700");
$font-weight-800: config("font-weight", "800");

$letter-spacing-tight: config("letter-spacing", "tight");
$letter-spacing-normal: config("letter-spacing", "normal");
$letter-spacing-wide: config("letter-spacing", "wide");

/* ============================================================
  THEMES
   ============================================================ */

:root,
[data-theme="retro-arcade"] {
  --bg-app-dark: #6c1aaa;
  --bg-app-light: #9539e5;
  --bg-board: #f1f1f1;
  --bg-player-card: #f1f1f1;

  --card-front: #6c1aaa;
  --card-back: #f1f1f1;

  --text-dark: #16151d;
  --text-light: #f1f1f1;

  --player-1: #fc1c50;
  --player-2: #fc8844;

  --btn-outline-text: #16151d;
}

[data-theme="pastel-punch"] {
  --bg-app-dark: #65589d;
  --bg-app-light: #afa8dd;
  --bg-board: #ffc6c6;
  --bg-player-card: #ffc6c6;

  --card-front: #65589d;
  --card-back: #f1f1f1;

  --text-dark: #16151d;
  --text-light: #f1f1f1;

  --player-1: #fc1c50;
  --player-2: #fc8844;

  --btn-outline-text: #16151d;
}
