@use "../abstracts/variables" as v;

body {
  position: relative;
}

#app {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: transparent;
}

.screen {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

/*
body {
  font-family: v.$font-tanker;
  background-color: #7141f5;
  position: relative;

  &::after {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    background-color: #582cd1;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;

    z-index: -1;
  }
}
#app {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: transparent;
}

.screen {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}


*/
