@use "../abstracts/variables" as v;

/* ==========================================================================
  TANKER FONT (Display Font für Headlines)
   ========================================================================== */
@font-face {
  font-family: "Tanker";
  src: url("/fonts/tanker-regular/tanker-regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

/* ==========================================================================
   BASE TYPOGRAPHY
   ========================================================================== */

body {
  font-family: v.$font-tanker;
  font-size: v.$font-size-md;
  color: v.$color-text-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: v.$font-tanker;
  text-transform: uppercase;
  letter-spacing: v.$letter-spacing-wide;
  color: inherit;
}

h1 {
  font-size: clamp(3.25rem, 8vw, 6.5rem);
}

h2 {
  font-size: clamp(1.75rem, 4vw, 3rem);
}

h3 {
  font-size: clamp(1.5rem, 3vw, 2rem);
}

h4,
h5,
h6 {
  font-size: clamp(1.25rem, 2.5vw, 1.5rem);
}

p {
  font-size: v.$font-size-md;
}
